.mainDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  background-attachment: fixed;
  margin-top: 6vh;
}

.pokemonDisplay {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 60px;
}

select {
  width: 100px;
}

.loader {
  border: 24px solid #fff;
  border-color: #ff3d00 #ff3d00 #fff #fff;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(-50%, -125%);
  left: 50%;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.selectDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 20vh;
  position: fixed;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.511);
}
