.mainDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}

.pokemonDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

select {
  width: 100px;
}
