footer {
  color: grey;
  height: 5vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-weight: 700;
}
